
body {margin: 0; padding: 0; background-color: #000000; font-size: 0; overflow: hidden;}div {margin: 0; padding: 0; position: absolute; font-size: 0; overflow: hidden;}canvas {background-color: #000000; overflow: hidden;}
.silex-id-1573506418692-0 {min-width: 100%;}.silex-id-1573506487196-0 {width: 640px; min-height: 302px; top: 175px; left: 665px;}.silex-id-1573506495235-1 {width: 1280px; min-height: 720px; top: -277px; left: 325px;}

body.silex-runtime {opacity: 1;}
